
@font-face {
    font-family: Subscriber;
    src: url(fonts/SUBSCRIBER-Regular.otf);
}

@font-face {
    font-family: Typewriter;
    src: url(fonts/atwriter.ttf);
}

body {
    /*I CREATED A PARALAX!!*/
    background-image: url(images/steve-johnson-YS0YJLU_h2k-unsplash-EDITED.jpg);

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contents {
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: -20px;
    padding: 20px;
    box-shadow: 0px 0px 25px grey;
}

h1 {
    text-align: center;
    font-family: Subscriber;
    font-size: 80px;
}

#page-subtitle {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 50px;
}

#featured-img {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    font-family: Typewriter;
}

h3 {
    font-size: 20px;
    color: salmon;
    text-align: center;
}

img {
    max-width: 100%;
}


.credit {
    display: block;
    width: 90px;
    margin-top: -30px;
}

footer {
    text-align: center;
}

a.returnToTop {
    text-decoration: none;
    background-color: salmon;
    padding: 5px 10px;
    color: white;
}